<%- include('includes/head'); %>

<section class="container">
  <div class="row">
   <div class="col-lg-2"></div>
   <div class="col-lg-8 my-4">
     <h1 class="text-center my-3">Contato</h1>
   
     <%- include('includes/messages'); %>
     
       <p class="text-center lead"> Crie seus contatos</p>
       
       <%  if(contato._id) { %>
       <form action="/contato/edit/<%= contato._id %>" method="POST">

        <% } else { %>

       <form action="/contato/register/" method="POST">

          <% } %> 
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="form-group">
          Nome completo
            <input value="<%= contato.nome %>" type="text" class="form-control" name="nome" >
          E-mail
            <input value="<%= contato.email %>" type="email" class="form-control" name="email" >

          Telefone
            <input value="<%= contato.telefone %>" type="tel" class="form-control" name="telefone" >
         
        </div>      
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
     </div>
   </div>
   <div class="col-lg-2"></div>
  </div>
  
   
 </section>


<%-  include('includes/foot'); %>
